@page "/"

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <label for="deck1" accesskey="o">
                    <strong>Deck <span style="text-decoration: underline">O</span>ne</strong>
                </label>
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
        <div class="col-1">

        </div>

        
        <div class="col-5">
            <div class="row">
                <label for="deck2" accesskey="w">
                    <strong>Deck T<span style="text-decoration: underline">w</span>o</strong>
                </label>
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>